<section class="section summary-section">
  <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-user"></i></span>Prefil</h2>
  <div class="summary">
      <p>Desarrollador de software con experiencia en diseño, instalación, pruebas y mantenimiento de sistemas de software.
        Comocimiento en lenguajes de escritorios, web y sistemas integrados. Experiencia en las herramientas y procedimientos de desarrollo más actuales.
        Capaz de autogestión eficaz en proyectos independientes. Buenas habilidades colaborativas y comunicativas en equipos productivos.
        <a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/" target="_blank">Descargar el resume/CV </a>.</p>
  </div><!--//summary-->
</section><!--//section-->
