<div class="profile-container">
  <img class="profile" src="assets/images/profile1.png" alt="" />
  <h1 class="name">Luis Ojeda</h1>
  <h3 class="tagline">Estudiante - Full Stack Developer</h3>
</div><!--//profile-container-->

<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
      <li class="email"><i class="fa-solid fa-envelope"></i><a href="mailto: yourname@email.com">luis_ojeda80@hotmail.com</a></li>
      <li class="phone"><i class="fa-solid fa-phone"></i><a href="tel:0123 456 789">370-4523637</a></li>
      <li class="website"><i class="fa-solid fa-globe"></i><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/" target="_blank">portfoliosite.com</a></li>
      <li class="linkedin"><i class="fa-brands fa-linkedin-in"></i><a href="linkedin.com/in/luisojeda1980" target="_blank">linkedin.com/in/luisojeda1980</a></li>
      <li class="github"><i class="fa-brands fa-github"></i><a href="#" target="_blank">github.com/luisojeda80</a></li>
      <li class="twitter"><i class="fa-brands fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li>
  </ul>
</div><!--//contact-container-->
<div class="education-container container-block">
  <h2 class="container-block-title">Education</h2>
  <div class="item">
      <h4 class="degree">MSc in Computer Science</h4>
      <h5 class="meta">University of London</h5>
        <div class="time">2016 - 2018</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">BSc in Applied Mathematics</h4>
      <h5 class="meta">Bristol University</h5>
      <div class="time">2012 - 2016</div>
  </div><!--//item-->
</div><!--//education-container-->

<div class="languages-container container-block">
  <h2 class="container-block-title">Idioma</h2>
  <ul class="list-unstyled interests-list">
      <li>Español <span class="lang-desc">(Nativo)</span></li>
      <li>Ingles <span class="lang-desc">(Profesional)</span></li>
  </ul>
</div><!--//interests-->

<div class="interests-container container-block">
  <h2 class="container-block-title">Intereses</h2>
  <ul class="list-unstyled interests-list">
      <li>Economía</li>
      <li>Pesca</li>
      <li>Basket</li>
  </ul>
</div><!--//interests-->

<div class="interests-container container-block">
  <h2 class="container-block-title">Ciudades Preferiadas</h2>
  <ul class="list-unstyled interests-list">
      <li> {{miPorfolio.llave1}} </li>
      <li> {{miPorfolio.llave2}} </li>
      <li>Pesca</li>
      <li>Basket</li>
  </ul>
</div><!--//interests-->
