      <section class="skills-section section">
          <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-rocket"></i></span>Skills &amp; Proficiency</h2>
          <div class="skillset">
              <div class="item">
                  <h3 class="level-title">Python &amp; Django</h3>
                  <div class="progress level-bar">
          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Javascript</h3>
                  <div class="progress level-bar">
          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">React &amp; Angular</h3>
                  <div class="progress level-bar">
          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">HTML5 &amp; CSS</h3>
                  <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Ruby on Rails</h3>
                  <div class="progress level-bar">
          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Sketch &amp; Photoshop</h3>
                  <div class="progress level-bar">
          <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
              </div><!--//item-->

          </div>
      </section><!--//skills-section-->


